#landing-page main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15em;
}

#landing-page main > section {
    text-align: center;
}

#landing-page section {
    margin: 2em 0;
}

.section-title {
    font-size: 2em;
    margin-bottom: 0.75em;
    font-weight: normal;
}

@media only screen and (max-width: 750px) {
    #landing-page main {
        padding: 0 0.5em;
    }
}
